:root{
    --bg-color: #5f5f5f;
    --light-text: #dddddd;
    /* --hover-color: #000084; */
    --hover-color: #150458;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Header */

header {
    background-color: var(--bg-color);
    color: var(--light-text);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo a {
    color: var(--light-text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-bar {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin-left: 4rem;
}

.nav-bar a {
    color: var(--light-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    transition: color 0.3s ease;
}

/* Hover */

.nav-bar a:hover {
    color: var(--hover-color);
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-bar {
        position: absolute;
        top: 60px;
        right: 0;
        height: calc(100vh - 60px);
        width: 100%;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links li {
        margin: 2rem 0;
    }

    .mobile-menu {
        display: flex;
    }

    .nav-bar.active {
        transform: translateX(0);
    }
}

/* Intro */
.intro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    height: 100vh;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}


/* Profile pic */
.image-container {
    padding: 2%
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Intro Statement */
.intro-statement {
    max-width: 50%;
    padding: 5%;
    
}

.intro-statement h1{
    font-size: 7rem;
    color: var(--hover-color);
    line-height: 2;
    font-weight: 500;
    font-style: italic;
}

.intro-statement h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light-text);
}

/* Mobile */


/* Education */

.education {
    max-width: 80%;
    height: 100vh;
    margin: auto;
    align-items: center;
    padding-top: 2rem; 
    padding-bottom: 5%;
    position: relative;
    /* padding is determined by header */
}

.education-header h1 {
    font-size: 3.5rem;
    color: var(--hover-color);
    line-height: 2;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

/* Education containers */
/* Javascript touch up moving pieces*/
.timeline{
    position: relative;
    /* max-width: 1200px; */
    margin: 50px auto;
}

.timeline::after {
    content:"";
    position: absolute;
    width: 3px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
    animation: moveline 1s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%
    }
}

.education-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background-color: var(--bg-color);
    /* background-color: white; */
}

.education-card {
    padding: 20px 30px;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.education-card h2, .education-card h3, .education-card small {
    background-color: white;
}

.education-card small {
    display: inline-block;
    margin-top: 0.5rem;
}

.education-card ul {
    list-style: none;
    background-color: white;
}

.education-card ul li {
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.education-card ul li a {
    text-decoration: none;
    background-color: white;
    color: var(--hover-color);
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

/* Education Logos */
.education-container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

/* Mobile */

@media screen and (max-width:768px){
    .timeline{
        margin: 25px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .education-container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img {
        left: 10px;
    }
}

/* Projects */

.projects {
    height: 100vh;
    width: 80%;
    position: relative;
    margin: auto;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5%;
}

.projects-header {
    align-items: center;
    text-align: center;
}

.projects-header h1{
    font-size: 3.5rem;
    color: var(--hover-color);
    line-height: 2;
    font-weight: 500;
}

.projects-header p {
    font-weight: 200;
    color: var(--light-text);
}

.project-container {
    padding-top: 25px;
    padding-bottom: 75px;
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* Cards */
.project-card {
    perspective: 1000px;
}

/* Card animations */
/* Javascript touch up, animation should stay for a period of time */
.left-card:hover .card {
    transform: rotateY(-180deg);
}

.right-card:hover .card {
    transform: rotateY(180deg);
}

.card{
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.cardfront, .cardback{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
}

/* Card front */
/* button to go to github */
.cardfront{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
}

.card-img{
    flex: 1;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.card-img img {
    border-radius: 8px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* Card Back */

.cardback {
    background-color: white;
    flex-direction: column;
    display: flex;
    transform: rotateY(180deg);
    place-content: center;
    text-align: center;
    padding: 20px
}

.app-logo {
    align-items: center;
    justify-content: center;
    background-color: white;
}

.app-logo img {
    width: 160px;
    height: auto;
    margin-bottom: 40px;
    background-color: white;
}

.app-logo a {
    background-color: white;
}

.cardback h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 400;
    background-color: white;
}

.cardback p {
    font-size: 1.25rem;
    background-color: white;
    text-align: center;
}

.techstack {
    padding-top: 50px;
    background-color: white;
}

.techstack ul {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.techstack ul li {
    list-style: none;
    background-color: white;
}

.tech-logo {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: white;
}

/* logos are all transparent */
.tech-logo img {
    width: 50px;
    height: 50px;
    background-color: white;
}
